.page-header
  #main-tweet-box
    = form_tag :funcans do
      = label_tag :text do
        今日楽しめたこと・できたことは？
      .text-area
        = text_area_tag :text, nil, class: 'xxlarge', required: true
      .button-container
        = button_tag class: 'btn fun', name: 'kind', value: 'fun' do
          FUN
        = button_tag class: 'btn can', name: 'kind', value: 'can' do
          CAN
        = button_tag class: 'btn funcan success', name: 'kind', value: 'funcan' do
          FUN & CAN
  %ul.tabs
    %li.active= link_to 'みんなのFUNCAN', '#'
    %li= link_to 'わたしのFUNCAN', '#'
%article
  - @funcans.each do |funcan|
    - funcan.text.gsub!(/\s+#\w+(?=\s|\Z)/, '')
    - kinds = funcan.entities.hashtags.map {|h| h.text.downcase } & ['fun', 'can']
    - kinds = ['fun', 'can'] if kinds.blank?
    .funcan.stream-item
      .tweet{class: kinds}
        .tweet-image
          = image_tag funcan.user.profile_image_url
        .tweet-content
          .tweet-row
            %span.tweet-user-name
              = funcan.user.name
          .tweet-row
            .tweet-text
              = funcan.text
              - kinds.each do |k|
                %span.label{class: k}= k.upcase
          %time.tweet-row
            = link_to l(Time.parse(funcan.created_at)), "http://twitter.com/#{funcan.user.screen_name}/status/#{funcan.id_str}", class: 'tweet-timestamp'
      .comment-container
        = form_tag '', remote: true, html: {'data-update-id' => "funcan_#{funcan.id_str}_comments", 'data-type' => 'html'} do
          - Comment.types.each do |type|
            = button_tag name: 'type', value: type, class: 'btn info small' do
              = t type, scope: 'activerecord.model'
            %span.label.notice.count= 0
