- content_for :page_header do
  #main-tweet-box
    = form_tag :funcans, id: 'new_funcan', remote: true, 'data-type' => 'html' do
      = label_tag :text do
        今日楽しめたこと・できたことは？
      .text-area
        = text_area_tag :text, nil, id: 'new_text', class: 'xxlarge', required: true
      .button-container
        = image_tag 'ajax-loader-indicator.gif', alt: '*', id: 'new_indicator', style: 'display: none;'
        = button_tag class: 'btn fun', name: 'type', value: 'fun' do
          FUN
        = button_tag class: 'btn can', name: 'type', value: 'can' do
          CAN
        = button_tag class: 'btn funcan success', name: 'type', value: 'funcan' do
          FUN & CAN
  %ul.tabs
    = list_active_if_current 'みんなのFUNCAN', root_path, 'data-pjax' => true
    -#%li= link_to 'わたしのFUNCAN', '#'
    = list_active_if_current 'その他', public_path, 'data-pjax' => true

- @tweets.each do |tweet|
  = render 'funcan', tweet: tweet
