%header.modal-header
  -#%a.close{href: '#'} ×
  %h1 「#{t type, scope: 'activerecord.model'}」と言っている人
.modal-body
  %ul.users
    - votes.each do |vote|
      %li.stream-item
        = link_to "http://twitter.com/#{vote.user.screen_name}" do
          = image_tag vote.user.image
        %span.name= vote.user.name
%footer.modal-footer
  %button.btn.small.primary.close 閉じる
