!!!
%html
  %head
    %title FUNCAN
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    %meta(content='width=device-width, height=device-height, initial-scale=1.0' name='viewport')
    = csrf_meta_tags
  %body
    %header.topbar(data-dropdown="dropdown")
      .topbar-inner
        .container
          %h1.brand
            FUNCAN
          - if user_signed_in?
            %ul.nav.secondary-nav
              %li.dropdown
                = link_to '#', class: 'dropdown-toggle' do
                  = image_tag current_user.image, alt: '', size: '20x20'
                  %span #{current_user.name} さん
                %ul.dropdown-menu
                  %li
                    = button_to 'sign out', sign_out_path, method: :delete, form_class: 'pull-right'
          - else
            = form_tag sign_in_path, method: :get, id: 'sign_in', class: 'pull-right' do
              = image_submit_tag 'sign-in-with-twitter-d.png', alt: 'Sign in with Twitter'
    .container
      .content
        = yield
    .dialog-container
      .dialog-content
        %section#comment-users.modal.hide
    %footer
      - if user_signed_in?
        - limit = Twitter.rate_limit_status
        .limit
          API: #{limit.remaining_hits} / #{limit.hourly_limit}
      %address
        kawamura at u2plus.jp
