!!!
%html
  %head
    %title FUNCAN
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    %meta(content='width=device-width, height=device-height, initial-scale=1.0' name='viewport')
    = csrf_meta_tags
  %body
    %header.topbar
      .topbar-inner
        .container
          %h1.brand
            FUNCAN
            -#%small 《ファンキャン》
          - if user_signed_in?
            = button_to 'sign out', sign_out_path, method: :delete, form_class: 'pull-right'
            %ul.secondary-nav
              %li= link_to "#{current_user.name} さん", '#'
          - else
            = button_to 'sign in with Twitter', sign_in_path, form_class: 'pull-right'
            -#%li= link_to 'sign in with Twitter', sign_in_path
    .container
      .content
        = yield
    %footer
      - limit = Twitter.rate_limit_status
      .limit
        API: #{limit.remaining_hits} / #{limit.hourly_limit}
      %address
        kawamura at u2plus.jp
