!!!
%html
  %head
    %title FUNCAN
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    %meta(content='width=device-width, height=device-height, initial-scale=1.0' name='viewport')
    = csrf_meta_tags
  %body
    %header.topbar
      .topbar-inner
        .container
          %h1.brand
            FUNCAN
            %small 《ファンキャン》
          = button_to 'sign in with Twitter', sign_in_path, method: :get, form_class: 'pull-right'
    .container
      = yield
    %footer
      %address
        kawamura at u2plus.jp
